@import 'assets/styles/variables';

.searchItem__container {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: $padding-md;
    padding: $padding-md;
    width: 100%;
}

.searchItem__detail {
    display: flex;
    flex-direction: column;
    gap: $padding-lg;
    max-width: 580px;
    width: 60%;
}

.searchItem__location {
    max-width: 168px;
    width: 20%;
}

.searchItem__image--loader {
    border-radius: $border-radius-sm;
    height: 180px;
    width: 180px;
}

.searchItem__tittle--loader {
    height: 18px;
    width: 80%;
    margin: 0;
}

.searchItem__condition--loader {
    height: 18px;
    width: 30%;
    margin: 5px 0;
}

.searchItem__price--loader {
    height: 24px;
    width: 40%;
}

.searchItem__location--loader {
    height: 12px;
    width: 50%;
}

.searchItem__loader {
    background-color: #fff;
    border-radius: 2px;
    overflow: hidden;
    padding: 0;
    position: relative;

    &:after {
        content: '';
        animation-duration: .8s;
        animation-iteration-count: infinite;
        animation-name: loader-animate;
        animation-timing-function: linear;
        background-color: #636363;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0) 81%);
        border-radius: 10px;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &:before {
        content: '';
        background-color: #ededed;
        border-radius: 6px;
        box-shadow: -48px 78px 0 -48px #ededed, -51px 102px 0 -51px #ededed;
        display: block;
        height: 100%;
    }
}