@import 'assets/styles/variables';

.searchItem__container {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: $padding-md;
    padding: $padding-md;
    width: 100%;
}

.searchItem__detail {
    display: flex;
    flex-direction: column;
    gap: $padding-lg;
    max-width: 580px;
    width: 60%;
}

.searchItem__location {
    max-width: 168px;
    width: 20%;
}

.searchItem__image--loader {
    border-radius: $border-radius-sm;
    height: 180px;
    width: 180px;
}

.searchItem__tittle--loader {
    height: 18px;
    width: 80%;
    margin: 0;
}

.searchItem__condition--loader {
    height: 18px;
    width: 30%;
    margin: 5px 0;
}

.searchItem__price--loader {
    height: 24px;
    width: 40%;
}

.searchItem__location--loader {
    height: 12px;
    width: 50%;
}
