@import 'assets/styles/variables';

.searchBar__container {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.searchBar__button {
    align-items: center;
    border: none;
    border-radius:  0 $border-radius-sm $border-radius-sm 0;
    cursor: pointer;
    display: flex;
    height: auto;
    justify-content: center;
    width: 38px;
}