@import 'assets/styles/variables';

.detail__body {
    max-width: $max-width-lg;
    width: 100%;
}

.detail__container {
    background-color: $color-white;
}

.detail__item {
    display: flex;
    flex-direction: row;

    & img {
        height: 680px;
        width: 680px;
    }
}

.detail__info {
    padding-top: 32px;

    & p {
        margin: 0;
    }

    & p:first-child {
        font-size: $font-size-sm;
        margin-bottom: 16px;
    }

    & p:nth-child(2) {
        font-size: $font-size-xl;
        margin-bottom: 32px;
    }

    & h3 {
        font-size: $font-size-3xl;
        font-weight: 400;
        margin-bottom: 32px;
    }

    & button {
        background-color: $color-blue;
        border: none;
        border-radius: 8px;
        color: $color-white;
        cursor: pointer;
        height: 38px;
        width: 218px;
    }
}

.detail__itemDetail {
    padding: 32px;

    & h4 {
        font-size: $font-size-2xl;
        margin-bottom: 32px;
    }

    & p {
        font-size: $font-size-md;
        color: $color-grey;
        margin: 0;
    }
}