@import 'assets/styles/variables';

.app__container {
  background-color: $color-lightGrey;
  height: calc(100vh - 32px);
  overflow: hidden auto;
  padding-bottom: 32px;
  width: 100%;
}

.app__body {
  display: flex;
  justify-content: center;
  margin-top: 62px;
}